* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Roboto", sans-serif;
  /* font-family: "Poppins", sans-serif; */
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

input,
button,
textarea {
  display: block;
  font-size: 1rem;
}
